---
import Link from "./shared/Link.astro";

import burgerMenuIcon from '../../public/icons/burgerMenu.svg?raw';
import closeIcon from '../../public/icons/closeIcon.svg?raw';

const links = [
  { text: 'Inicio', href: '/' },
  { text: 'Comunidades', href: '/communities' },
  { text: 'Eventos', href: '/events' },
  { text: 'Voluntariado', href: '/#about-us' },
];
---
<nav x-data="{
        openMenu: false,

        toggleMenu() {
            this.openMenu = !this.openMenu
        },
        close(){
            this.openMenu = false
        }
    }"  
    
    class="bg-gray-800 w-full fixed z-10">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <a href="/" class="font-montserrat text-white font-bold">Ecuador In Tech</a>

        <!-- Burger menu button -->
        <button @click="toggleMenu()" id="mobile-menu-button" class="block lg:hidden">
            <Fragment set:html={burgerMenuIcon} />
        </button> 

        <!-- Links -->
        <div class="hidden text-[0.9rem] lg:flex lg:items-center lg:space-x-8">
            {links.slice(1).map(link => (
                <Link href={link.href} text={link.text}/>
              ))}
        </div>   

    </div>

    <!-- Mobile menu -->
    <div 
        x-ref="dropdown-menu"
        x-show="openMenu"
        x-transition.origin.top.left
        x-cloak
        class="fixed top-0 left-0 w-full h-full bg-gray-800 z-10 lg:hidden"
        > 
        <!-- Close button -->
        <a @click="toggleMenu()" class="w-full flex flex-row justify-end px-4 py-3  text-white cursor-pointer" >
            <Fragment set:html={closeIcon} />
        </a>
        <!-- Links -->
        <ul class="flex flex-col items-center justify-center h-full p-4">
            {links.map((link) => (
                <div class="block my-4 px-4 uppercase text-xl hover:font-medium" >
                    <Link href={link.href} text={link.text} />
                </div>
            ))}
            <div class="h-[10%]"></div>
        </ul>
    </div>
</nav>
